services:
  - type: web
    name: resq-backend
    env: python
    buildCommand: pip install -r requirements.txt && python manage.py migrate && python manage.py collectstatic --noinput
    startCommand: gunicorn campus_security.wsgi:application --bind 0.0.0.0:$PORT
    plan: free
    healthCheckPath: /api/accounts/
    envVars:
      - key: DEBUG
        value: "True"
      - key: DJANGO_SETTINGS_MODULE
        value: campus_security.settings
