services:
  - type: web
    name: resq-backend
    env: python
    buildCommand: pip install -r requirements.txt && python manage.py migrate && python manage.py collectstatic --noinput
    startCommand: gunicorn campus_security.wsgi:application --bind 0.0.0.0:$PORT
    plan: free
    healthCheckPath: /api/accounts/
    envVars:
      - key: DEBUG
        value: "True"
      - key: DJANGO_SETTINGS_MODULE
        value: campus_security.settings
      - key: GS_BUCKET_NAME
        value: resq-campus-security
      - key: GS_PROJECT_ID
        value: gen-lang-client-0117249847
      - key: GOOGLE_APPLICATION_CREDENTIALS
        value: /opt/render/project/src/credentials/gen-lang-client-0117249847-eb5558a80732.json
    # Note: No disk mount needed - images go to Google Cloud Storage
